doctype html
html(lang='en')
  head
    
    meta(charset='utf-8')
    title Página de contacto
    meta(name='viewport' content='width=device-width, initial-scale=1')
    
    link(href='https://fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css')
    
    link(rel='stylesheet' href='../css/normalize.css')
    link(rel='stylesheet' href='../css/skeleton.css')
  
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(src='./enviar.js')
  
  body
    .container
      br
      h2 Contacto
      br
      form
        .row
          .six.columns
            label(for='el_mail') Tu e-mail:
            input#el_mail.u-full-width(type='email' placeholder='email@mail.com')
          
        label(for='el_mensaje') Tu mensaje:
        textarea#el_mensaje.u-full-width(placeholder='Hola...')
        button.button-primary(onclick='enviar_mail()')  Enviar

        
